html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
  }

body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(16, minmax(0, 1fr));
    background-color: #2196F3;

  }

  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

