html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
  }

body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-direction: column;
}

#container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    border: 1px solid #d3d3d3;
    height: 960px;
    width: 960px;
  }

  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #d3d3d3;
    height: 100%;
    width: 100%;
  }


.active, .grid-item:hover{
  background-color: black;
    cursor: pointer;
}

.remove {
  background-color: #fff;
  cursor: pointer;
}